[Unit]
Description=Diaspora Unicorn Server
Requires=diaspora-redis.service
After=diaspora-redis.service network.target

[Service]
User=diaspora
Group=diaspora
SyslogIdentifier=diaspora-unicorn
PIDFile={{ app_data_dir }}/diaspora.pid
Restart=always

CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
CapabilityBoundingSet=
PrivateTmp=true
NoNewPrivileges=true
Type=forking
TimeoutStartSec=200
ExecStart={{ app_dir }}/bin/unicorn.py
ExecStartPost={{ app_dir }}/bin/unicorn_wait.py

[Install]
WantedBy=multi-user.target
