[Unit]
Description=Diaspora Unicorn Server
Requires=diaspora-redis.service
After=diaspora-redis.service network.target

[Service]
User=diaspora
Group=diaspora
SyslogIdentifier=diaspora-unicorn
WorkingDirectory=/opt/app/diaspora/diaspora
Environment=RAILS_ENV=production
Environment=DB=postgres
Environment=GEM_HOME=/opt/app/diaspora/ruby
Environment=PATH=/opt/app/diaspora/ruby/bin:/opt/app/diaspora/nodejs/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PIDFile=/opt/data/diaspora/unicorn.pid
Restart=always

CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
CapabilityBoundingSet=
PrivateTmp=true
NoNewPrivileges=true

ExecStart=/opt/app/diaspora/ruby/bin/bundle exec "unicorn_rails -c config/unicorn.rb -E ${RAILS_ENV}"

[Install]
WantedBy=multi-user.target
