[Unit]
Description=Diaspora Sidekiq Worker
Requires=diaspora.redis.service
After=diaspora.redis.service network.target

[Service]
User=diaspora
Group=diaspora
Environment=SNAP_COMMON={{ app_data_dir }}
SyslogIdentifier=diaspora-sidekiq
Restart=always
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
CapabilityBoundingSet=
PrivateTmp=true
ExecStart={{ app_dir }}/bin/service.sidekiq.sh start

[Install]
WantedBy=multi-user.target
