[Unit]
Description=Diaspora Unicorn Server
Requires=diaspora-redis.service
After=diaspora-redis.service network.target

[Service]
User=diaspora
Group=diaspora
SyslogIdentifier=diaspora-unicorn
WorkingDirectory=/opt/app/diaspora/diaspora
Environment=RAILS_ENV=production GEM_HOME=/opt/app/diaspora/ruby
## Uncomment if postgres is installed
Environment=DB=postgres
PIDFile=/opt/data/diaspora/unicorn.pid
Restart=always

CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
CapabilityBoundingSet=
PrivateTmp=true
NoNewPrivileges=true

ExecStart=/opt/app/diaspora/ruby/bin/bundle exec "unicorn_rails -c config/unicorn.rb -E ${RAILS_ENV}"

[Install]
WantedBy=multi-user.target