[Unit]
Description=Diaspora Sidekiq Worker
Requires=diaspora-redis.service
After=diaspora-redis.service network.target

[Service]
User=diaspora
Group=diaspora
SyslogIdentifier=diaspora-sidekiq
WorkingDirectory={{ app_dir }}/diaspora
Environment=RAILS_ENV=production
Environment=GEM_HOME={{ app_dir }}/ruby
Environment=DB=postgres
Environment=PATH={{ app_dir }}/ruby/bin:{{ app_dir }}/nodejs/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=LD_LIBRARY_PATH={{ app_dir }}/postgresql/lib

Restart=always
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
CapabilityBoundingSet=
PrivateTmp=true

ExecStart={{ app_dir }}/ruby/bin/bundle exec "sidekiq -e production -L {{ app_data_dir }}/log/sidekiq.log >> {{ app_data_dir }}/log/sidekiq.log 2>&1"

[Install]
WantedBy=multi-user.target
