[Unit]
Description=Diaspora Sidekiq Worker
Requires=diaspora-redis.service
After=diaspora-redis.service network.target

[Service]
User=diaspora
Group=diaspora
SyslogIdentifier=diaspora-sidekiq
WorkingDirectory=/opt/app/diaspora/diaspora
Environment=RAILS_ENV=production GEM_HOME=/opt/app/diaspora/ruby
## Uncomment if postgres is installed
Environment=DB=postgres

Restart=always
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true
CapabilityBoundingSet=
PrivateTmp=true

ExecStart=/opt/app/diaspora/ruby/bin/bundle exec "sidekiq -e production -L /opt/app/diaspora/log/sidekiq.log >> /opt/app/diaspora/log/sidekiq.log 2>&1"

[Install]
WantedBy=multi-user.target